.lessons{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  margin: 1em;
  padding: 1em;
}

.newHeading {
  display: flex;  
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.noListDeco{
  display: inline-block;
  text-decoration: none;
}

* {box-sizing: border-box}

.lesson {
  position: relative;
}


.img{
  display: block;
  aspect-ratio: 2 / 1;
  width: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  transition: .5s ease;
  opacity:0;
  width: 100%;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

 .active, .lesson:hover .overlay{
   opacity: 1;
}


.icon {
  cursor: pointer;
  width: 100%;
  border: none;
  outline:none;
  margin: 0;
  padding: 0;
}

  .content {
    padding: 18px 18px;
    display: block;
    overflow: hidden;
    background-color: #a7a7a7;
    max-height: 20vw;
    transition: max-height 0.2s ease-out;
  }

.row {margin: 0 0;}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.noMatchesBanner{
  display:block;
  font-family: sans-serif;
  height: 80px;
  width: 100%;
  font-size: 15px;
  text-align: center;
}
.classification{
  background-color: rgb(95, 167, 23);
  color: white;
}