.noListDeco{
  display: inline-block;
  text-decoration: none;
}

* {box-sizing: border-box}

#lesson-one {
  position: relative;
  width: 70%;
  max-width:500px;}

#img-one{
  display: block;
  width: 43vw;
  height: 20vw;
  object-fit: cover;
}

.overlay-one {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;
  width: 145%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
} 

/* .lesson-one:hover .overlay-one {
  opacity: 1;
} */

#lesson-two {
  position: relative;
  width: 70%;
  max-width: 500px;}
/* The overlay effect - lays on top of the container and over the image */
#img-two{
  display: block;
  width: 43vw;
  height: 20vw;
  object-fit: cover;
}
.overlay-two {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 145%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

/* When you mouse over the container, fade in the overlay title
.lesson-two:hover .overlay-two {
  opacity: 1;
}
 */
 .active, #lesson-one:hover .overlay-one{
   opacity: 1;
}
.active, #lesson-two:hover .overlay-two{
  opacity: 1;
}


.icon {
  cursor: pointer;
  width: 100%;
  border: none;
  outline:none;
}

  .content {
    padding: 18px 18px;
    display: none;
    overflow: hidden;
    background-color: #a7a7a7;
    width: 43vw;
    margin-left: 6px;
    max-height: 0;
    transition: max-height 0.2s ease-out;
  }

.column {
  float: left;
  width: 50%;
  padding: 0 3%;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 0;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}