* {box-sizing: border-box}

.lesson-one {
  position: relative;
  width: 50%;
  max-width: 500px;}

.img-one{
  display: block;
  width: 100%;
  height: auto;
}
/* The overlay effect - lays on top of the container and over the image */
.overlay-one {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.lesson-one:hover .overlay-one {
  opacity: 1;
}















* {box-sizing: border-box}

.lesson-two {
  position: relative;
  width: 50%;
  max-width: 500px;}

.img-two{
  display: block;
  width: 100%;
  height: auto;
}
/* The overlay effect - lays on top of the container and over the image */
.overlay-two {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.lesson-two:hover .overlay-two {
  opacity: 1;
}
